.env
credentials/*
general/general.py
general/__pycache__
general/token_drive_v3.pickle

holidays/holiday_csvs/*
holidays/holiday_add_worksheet.py
holidays/.DS_Store
holidays/holiday_csvs/.DS_Store
holidays/token_drive_v3.pickle
holidays/__pycache__

headcount/__pycache__
headcount/token_sheets_v4.pickle
headcount/headcount_csvs/*

exits/__pycache__
exits/token_sheets_v4.pickle
.DS_Store